.elementor-155 .elementor-element.elementor-element-6684ad9{--display:flex;--justify-content:flex-start;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-155 .elementor-element.elementor-element-6684ad9:not(.elementor-motion-effects-element-type-background), .elementor-155 .elementor-element.elementor-element-6684ad9 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-secondary );}.elementor-155 .elementor-element.elementor-element-6684ad9 > .elementor-shape-bottom .elementor-shape-fill, .elementor-155 .elementor-element.elementor-element-6684ad9 > .e-con-inner > .elementor-shape-bottom .elementor-shape-fill{fill:var( --e-global-color-primary );}.elementor-155 .elementor-element.elementor-element-6684ad9 > .elementor-shape-bottom svg, .elementor-155 .elementor-element.elementor-element-6684ad9 > .e-con-inner > .elementor-shape-bottom svg{width:calc(125% + 1.3px);height:40px;}.elementor-155 .elementor-element.elementor-element-6684ad9.e-con{--align-self:center;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-155 .elementor-element.elementor-element-582df5c{margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 25px) 0px;padding:0px 0px 0px 0px;text-align:center;}.elementor-155 .elementor-element.elementor-element-582df5c.elementor-element{--align-self:center;}.elementor-155 .elementor-element.elementor-element-582df5c .elementor-heading-title{font-family:"Marcellus", Sans-serif;font-size:2.8rem;font-weight:400;font-style:italic;line-height:1.2em;letter-spacing:-0.02em;color:var( --e-global-color-text );}.elementor-155 .elementor-element.elementor-element-31e314f{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--gap:15px 15px;--row-gap:15px;--column-gap:15px;--flex-wrap:wrap;--align-content:center;--margin-top:40px;--margin-bottom:15px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:15px;--padding-right:15px;}.elementor-155 .elementor-element.elementor-element-3f24059{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );letter-spacing:var( --e-global-typography-text-letter-spacing );}.elementor-155 .elementor-element.elementor-element-ed7b78a{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-155 .elementor-element.elementor-element-8b0c1b6{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:stretch;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-155 .elementor-element.elementor-element-a5fb43d{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-155 .elementor-element.elementor-element-9a6859c{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-155 .elementor-element.elementor-element-8f5816d{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-155 .elementor-element.elementor-element-d62c7c6{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-155 .elementor-element.elementor-element-b11cf17{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-155 .elementor-element.elementor-element-f180fa6{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-155 .elementor-element.elementor-element-04c2a73{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-155 .elementor-element.elementor-element-75de27b{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}:root{--page-title-display:none;}@media(max-width:1024px){.elementor-widget-image .widget-image-caption{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );letter-spacing:var( --e-global-typography-text-letter-spacing );}}@media(max-width:767px){.elementor-155 .elementor-element.elementor-element-6684ad9{--min-height:84px;--justify-content:flex-start;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-155 .elementor-element.elementor-element-6684ad9 > .elementor-shape-bottom svg, .elementor-155 .elementor-element.elementor-element-6684ad9 > .e-con-inner > .elementor-shape-bottom svg{width:calc(140% + 1.3px);height:49px;}.elementor-155 .elementor-element.elementor-element-582df5c .elementor-heading-title{font-size:2rem;}.elementor-widget-image .widget-image-caption{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );letter-spacing:var( --e-global-typography-text-letter-spacing );}}@media(min-width:768px){.elementor-155 .elementor-element.elementor-element-3f24059{--width:32%;}.elementor-155 .elementor-element.elementor-element-ed7b78a{--width:32%;}.elementor-155 .elementor-element.elementor-element-8b0c1b6{--width:32%;}.elementor-155 .elementor-element.elementor-element-a5fb43d{--width:32%;}.elementor-155 .elementor-element.elementor-element-9a6859c{--width:32%;}.elementor-155 .elementor-element.elementor-element-8f5816d{--width:32%;}.elementor-155 .elementor-element.elementor-element-d62c7c6{--width:32%;}.elementor-155 .elementor-element.elementor-element-b11cf17{--width:32%;}.elementor-155 .elementor-element.elementor-element-f180fa6{--width:32%;}.elementor-155 .elementor-element.elementor-element-04c2a73{--width:32%;}.elementor-155 .elementor-element.elementor-element-75de27b{--width:32%;}}/* Start custom CSS for container, class: .elementor-element-3f24059 */.image-hover-box2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-hover-box2 .elementor-image img {
  display: block;
  width: 100%;
}

.image-hover-box2::before {
  content: "The Watchlight Barn";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #ECE4DA;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}
.image-hover-box2::after {
  content: "Columbia , Tennessee";
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #ECE4DA;
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-hover-box2:hover::after {
  opacity: 1;
}
.image-hover-box2:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-ed7b78a */.image-hover-box1 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-hover-box9 .elementor-image img {
  display: block;
  width: 100%;
}

.image-hover-box9::before {
  content: "Pentara";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #ECE4DA;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-hover-box9::after {
  content: "Tehran , Iran";
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #ECE4DA;
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-hover-box9:hover::after {
  opacity: 1;
}

.image-hover-box9:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-8b0c1b6 */.image-hover-box1 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-hover-box1 .elementor-image img {
  display: block;
  width: 100%;
}

.image-hover-box1::before {
  content: "Timekeeper’s Lounge";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #ECE4DA;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-hover-box1::after {
  content: "London , UK";
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #ECE4DA;
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-hover-box1:hover::after {
  opacity: 1;
}

.image-hover-box1:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-a5fb43d */.image-hover-box5 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-hover-box5 .elementor-image img {
  display: block;
  width: 100%;
}

.image-hover-box5::before {
  content: "Coldenhill House";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #ECE4DA;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-hover-box5::after {
  content: "New York , New York";
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #ECE4DA;
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-hover-box5:hover::after {
  opacity: 1;
}

.image-hover-box5:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-9a6859c */.image-hover-box4 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-hover-box4 .elementor-image img {
  display: block;
  width: 100%;
}

.image-hover-box4::before {
  content: "Villa Lumière";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #ECE4DA;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-hover-box4::after {
  content: "Bengaluru  , India";
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #ECE4DA;
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-hover-box4:hover::after {
  opacity: 1;
}

.image-hover-box4:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-8f5816d */.image-hover-box3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-hover-box3 .elementor-image img {
  display: block;
  width: 100%;
}

.image-hover-box3::before {
  content: "190 Strand";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #ECE4DA;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}


.image-hover-box3::after {
  content: "London , UK";
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #ECE4DA;
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-hover-box3:hover::after {
  opacity: 1;
}

.image-hover-box3:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-d62c7c6 */.image-hover-box8 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-hover-box8 .elementor-image img {
  display: block;
  width: 100%;
}

.image-hover-box8::before {
  content: "Hollowcrest House";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #ECE4DA;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}


.image-hover-box8::after {
  content: "Nashville , Tennessee";
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #ECE4DA;
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-hover-box8:hover::after {
  opacity: 1;
}

.image-hover-box8:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-b11cf17 */.image-hover-box7{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-hover-box7 .elementor-image img {
  display: block;
  width: 100%;
}

.image-hover-box7::before {
  content: "Beverly Hills Project";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #ECE4DA;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}


.image-hover-box7::after {
  content: "Hollywood Hills , LA";
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #ECE4DA;
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-hover-box7:hover::after {
  opacity: 1;
}
.image-hover-box7:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-f180fa6 */.image-hover-box6 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-hover-box6 .elementor-image img {
  display: block;
  width: 100%;
}

.image-hover-box6::before {
  content: "The Shadowfall Estate";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #ECE4DA;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}


.image-hover-box6::after {
  content: "Nashville , Tennessee";
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #ECE4DA;
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-hover-box6:hover::after {
  opacity: 1;
}

.image-hover-box6:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-04c2a73 */.image-hover-box10 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-hover-box10 .elementor-image img {
  display: block;
  width: 100%;
}

.image-hover-box10::before {
  content: "The Maison Blanche ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #ECE4DA;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-hover-box10::after {
  content: "Saint Tropez , France";
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #ECE4DA;
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-hover-box10:hover::after {
  opacity: 1;
}
.image-hover-box10:hover::before {
  opacity: 1;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-75de27b */.image-hover-box11 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-hover-box11 .elementor-image img {
  display: block;
  width: 100%;
}

.image-hover-box11::before {
  content: "Villa Èlan ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #ECE4DA;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-hover-box11::after {
  content: "Cannes , France";
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #ECE4DA;
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-hover-box11:hover::after {
  opacity: 1;
}

.image-hover-box11:hover::before {
  opacity: 1;
}/* End custom CSS */